In [1]:
x   =7
y   =4.3
z   =0

y+x-7

4.300000000000001

In [2]:
c   = y + 3.5 * x -7
c

21.8

In [3]:
4/3

1.3333333333333333

In [4]:
4+3

7

back slash indicates code continuing in next line (\ & 'Enter key' ⌨️ interpreted / replaced by space ' ')

In [5]:
4 \
    +3

7

In [6]:
3*2

6

'**' is the power of '^'

In [7]:
3**2

9

In [ ]:
9**(1/2)

3.0

note : Remember the braces for fraction

In [9]:
9**1/2

4.5

In [12]:
firstName = 'Arumuga Ram Prakash'
lastName  = 'M'
firstName+' '+lastName

'Arumuga Ram Prakash M'

In [14]:
firstName - lastName

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
firstName*3

'Arumuga Ram PrakashArumuga Ram PrakashArumuga Ram Prakash'

In [16]:
firstName*1.5

TypeError: can't multiply sequence by non-int of type 'float'

In [20]:
print(x+y)
print('x+y')
print(str(x)+'+'+str(y)+'='+str(x+y)) # complicated to read in code

11.3
x+y
7+4.3=11.3

In [23]:
ans = input("Give me a Number")
ans

'2'

In [24]:
ans+2

TypeError: can only concatenate str (not "int") to str

In [25]:
ans = input("Give me a number")
print(ans)
print(float(ans)+2)

2
4.0

In [26]:
ans=float(input("give me a number"))
ans+2

4.0

In [34]:
print("   Pythogoras theorem to calculate Value of side 'c' in a right traingle with side 'a' and 'b' information")
print("")
sideA   =   float(input("Please enter value of side a in the triangle"))
print("Please enter value of side a in the triangle :" + str(sideA))
sideB   =   float(input("Please enter value of side a in the triangle"))
print("Please enter value of side a in the triangle :" + str(sideB))
sideC   =   (sideA**2   +   sideB**2)   **  (1/2)
print("")
print('Length of side "c" is :' + str(sideC))

   Pythogoras theorem to calculate Value of side 'c' in a right traingle with side 'a' and 'b' information

Please enter value of side a in the triangle :3.0
Please enter value of side a in the triangle :4.0

Length of side "c" is :5.0