In [2]:
# Single line loops.
# list comprehension
import random # its a library to generate random numbers
random.randint(1,3) # normally upper bounds are exclusive in python but randint is inclusive of both.

1

In [3]:
r = random.randint(1,10)
print('r is large') if r>5 else print('r is small')

r is large

In [4]:
# similar to single line if-else statement we can use a single line for loop as well.
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [7]:
# using list comprehension 
[print(i**2) for i in range(10)]

0
1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None, None]

In [8]:
n = print('hi')
print(n)

hi
None

In [9]:
lst = [i**2 for i in range(10)] # list comprehension to create a list of squares.
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
lst = [i**2 for i in range(10) if i>5]
lst

[36, 49, 64, 81]

In [82]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [ ]:
# Exercise: convert the following loops to single-line loops

In [12]:
text = ['promising','Yves','That','home','on','Nobb']
for word in text:
    print(word[0])

p
Y
T
h
o
N

In [66]:
[print(word[0]) for word in text]

p
Y
T
h
o
N

[None, None, None, None, None, None]

In [65]:
[print(word[0]) for word in text]; # The semicolon is used to suppress the output of print function in jupyter notebook

p
Y
T
h
o
N

In [67]:
[word[0] for word in text]

['p', 'Y', 'T', 'h', 'o', 'N']

In [13]:
newlist = ['']*10

for i in range(10):
    if i%2==1:
        newlist[i] = 'Odd'
    else:
        newlist[i] = i

newlist

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [ ]:
['Odd' if i % 2 == 1 else i for i in range(10)]

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [14]:
import numpy as np

# repeat without using numpy
x1 = np.linspace(-3,3,11)
y1 = x1**2
print(x1)
print(y1)

[-3.  -2.4 -1.8 -1.2 -0.6  0.   0.6  1.2  1.8  2.4  3. ]
[9.   5.76 3.24 1.44 0.36 0.   0.36 1.44 3.24 5.76 9.  ]

In [39]:
a = -3
b = 3
c = 11
d = (b-a)/(c-1)
print(d)
x = []
for i in range (c):
    x.append(a+d*i)
x

0.6

[-3.0,
 -2.4,
 -1.8,
 -1.2000000000000002,
 -0.6000000000000001,
 0.0,
 0.5999999999999996,
 1.2000000000000002,
 1.7999999999999998,
 2.3999999999999995,
 3.0]

In [42]:
x1 = [a+((b-a)/(c-1))*i for i in range(c)]
x1

[-3.0,
 -2.4,
 -1.8,
 -1.2000000000000002,
 -0.6000000000000001,
 0.0,
 0.5999999999999996,
 1.2000000000000002,
 1.7999999999999998,
 2.3999999999999995,
 3.0]

In [ ]:
[a+((b-a)/(c-1))*i for i in range(c)]

[-3.0,
 -2.4,
 -1.8,
 -1.2000000000000002,
 -0.6000000000000001,
 0.0,
 0.5999999999999996,
 1.2000000000000002,
 1.7999999999999998,
 2.3999999999999995,
 3.0]

In [60]:
y1=[]
for i in range(len(x1)):
    y1.append(x1[i]**2)
y1

[9.0,
 5.76,
 3.24,
 1.4400000000000004,
 0.3600000000000001,
 0.0,
 0.3599999999999996,
 1.4400000000000004,
 3.2399999999999993,
 5.759999999999997,
 9.0]

In [62]:
y1 = [x1[i]**2 for i in range(len(x1))]
y1

[9.0,
 5.76,
 3.24,
 1.4400000000000004,
 0.3600000000000001,
 0.0,
 0.3599999999999996,
 1.4400000000000004,
 3.2399999999999993,
 5.759999999999997,
 9.0]

In [70]:
[x1[i]**2 for i in range(len(x1))]

[9.0,
 5.76,
 3.24,
 1.4400000000000004,
 0.3600000000000001,
 0.0,
 0.3599999999999996,
 1.4400000000000004,
 3.2399999999999993,
 5.759999999999997,
 9.0]